body {
    margin: 0;
}
.section_1 {
    background-color:#1F2937;
    
}
.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
}
.header__ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}
.header-secondary {
   display: flex;
   align-items: center;
}
.secondary-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bold;
}
.secondary-text p {
    font-size: 18px;
    color: #E5E7EB;
}

